
.idea/*
!vendor/chef/*
vendor/*
.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/id

Vagrantfile_orig

*.lock

composer.phar

index.html
