{% extends "layout.twig" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a small demo to introduce you in OPF. With this demo application you have a fully working expample with following features:</p>
        <ul>
            <li>bootstraping your application</li>
            <li>working login system</li>
            <li>plugins</li>
            <li>templating</li>
            <li>controller</li>
        </ul>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>A short overview about OPF, how to download and use it, basic configuration</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
