{% extends "layout.twig" %}

{% block content %}
    <div class="container">

        <form class="form-signin" role="form" method="post" action="{{ uri }}">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group has-error">
                <label class="control-label" for="inputError">Username oder Passwort ist falsch</label>
                <input type="text" class="form-control" id="inputError" placeholder="Email address" required="required" autofocus="autofocus" name="{{ fieldUser }}" value="{{ valueUser }}"/>
                <input type="password" class="form-control" placeholder="Password" required="required" name="{{ fieldPassword }}"/>
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"/> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}