<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="../css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="../js/jquery-2.0.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="../css/opf.css"/>
    </head>
    <body>
        {% include 'navigation.twig' %}
    </body>
</html>