{% extends "layout.twig" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
        <h1>Secure Area</h1>
        <p>You should only see this page, when you logged in!</p>
    </div>
{% endblock %}
